@use "scss/variables";

.image {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  img {
    width: 120px;
    height: 118px;
    border-radius: 50%;
    object-fit: cover;
  }
  a {
    color: variables.$text-white;
    text-decoration: none;
  }
}
