@use "scss/variables";

.button {
  border-radius: 20px;
  background: variables.$red;
  color: variables.$text-white;
  font-weight: 700;
  font-size: 21px;
  padding: 20px 100px;
  cursor: pointer;
  border: 0;
}

.black {
  border-radius: 15px;
  color: variables.$black;
  padding: 15px 80px;
}
