@use "scss/variables";

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 350px;
  background-color: variables.$black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__profile {
    align-self: center;
    padding: 35px 0 60px;
  }
  &__img {
    margin-bottom: 20px;
    text-align: center;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &__username {
    text-align: center;
  }
  &__links {
    height: 100%;
    width: 100%;
    a {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px 25px;
      text-decoration: none;
      color: #fff;
      background-color: #af253c;
    }
  }
  &__button {
    padding: 0 0 30px 30px;
    button {
      border: 0;
      background-color: rgb(0, 0, 0, 0);
      font-size: 21px;
      color: #fff;
      cursor: pointer;
    }
  }
}
