@use "scss/variables";

.label {
  .input {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 490px;
    font-size: 21px;
    font-weight: 400;
    color: #341e11;
    border: 0;
    outline: none;
    &[type="date"]::-webkit-calendar-picker-indicator {
      background: url("img/svg/calendar.svg") no-repeat;
    }
  }
  .black {
    color: variables.$text-white;
    background: rgba(variables.$black, $alpha: 0.92);
    &:-webkit-autofill {
      -webkit-text-fill-color: variables.$text-white;
      -webkit-box-shadow: 0 0 0 50px rgba(variables.$black, $alpha: 0.92) inset;
    }
  }
}
