.label {
  margin-bottom: 30px;
  .input {
    padding: 20px;
    border-radius: 20px;
    width: 490px;
    font-size: 21px;
    font-weight: 400;
    color: #341e11;
    border: 0;
  }
  .black {
    color: #f2ede7;
    background: rgba(18, 19, 15, 0.92);
  }
}
