@use "scss/variables";

.label {
  .input {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 490px;
    font-size: 21px;
    font-weight: 400;
    color: #341e11;
    border: 0;
    outline: none;
  }
  .black {
    color: variables.$text-white;
    background: rgba(variables.$black, $alpha: 0.92);
  }
}
