@use "scss/variables";

.signIn {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("img/bg/auth_bg.png") no-repeat center;
  background-size: cover;
  &__form {
    padding: 75px 45px 95px;
  }
  &__h1 {
    margin-bottom: 65px;
  }
  &__input {
    margin-bottom: 20px;
  }
  &__button {
    margin-bottom: 50px;
  }
  label {
    justify-content: center;
    margin-bottom: 30px;
  }
  .signUp__text {
    margin-bottom: 20px;
    a {
      color: variables.$red;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
