@use "scss/variables";

.users {
  height: 100%;
  width: 100%;
  background: url("img/bg/users_bg.png") no-repeat 100% 100%;
  background-size: cover;
  &__title {
    margin-bottom: 20px;
    text-align: center;
    color: variables.$black;
  }
  &__sort {
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0 35px;
    row-gap: 24px;
  }
  &__card {
    flex: 0 1 calc(25% - 30px);
    padding: 0 15px;
    text-decoration: none;
  }
}
